####################################################################################################
#### Letsencrypt installation uses a bucket to store a certificate
#### Prevent hitting the 5-time-a-week cert issuing limit in letsencrypt
####################################################################################################

Resources:
  httpsSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  httpSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 80
      FromPort: 80
      CidrIp: 0.0.0.0/0

files:
  # Cron to renew cert
  "/etc/cron.d/certbot_renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      @daily root certbot renew -q

commands:
  10_cleanup:
    command: |
      yes | rm -f /etc/cron.d/certbot_renew.bak

  20_install_cert_bot:
    command: |
      #!/bin/bash -xe
      #
      echo "Installing CERTBOT"
      amazon-linux-extras install -y epel
      yum install -y certbot
      echo "CERTBOT installed"

  30_install_cert:
    command: |
      #!/bin/bash -x
      #
      # PUT YOU REAL INFORMATION HERE:
      bucket=letsencrypt-cert
      domains=domain.tld,www.domain.tld
      email=your_email@mail.com
      #
      aws s3 ls s3://$bucket/letsencrypt.tar.gz
      if [ $? -eq 0 ]; then
        yes | rm -r /etc/letsencrypt
        aws s3 cp s3://$bucket/letsencrypt.tar.gz /root
        cd /etc
        tar -zxvf /root/letsencrypt.tar.gz
        certbot renew --no-directory-hooks --pre-hook /etc/letsencrypt/renewal-hooks/pre/srv-stop --deploy-hook /etc/letsencrypt/renewal-hooks/post/bucket-upd
      else
        systemctl stop nginx
        sleep 5
        certbot certonly --standalone -d $domains -m $email --agree-tos --non-interactive
        printf '#!/bin/bash\nsystemctl stop nginx\nsleep 5\n' > /etc/letsencrypt/renewal-hooks/pre/srv-stop
        printf '#!/bin/bash\nsystemctl start nginx\n' > /etc/letsencrypt/renewal-hooks/post/srv-start
        printf '#!/bin/bash\ncd /etc\ntar -zcvf /root/letsencrypt.tar.gz letsencrypt/\naws s3 cp /root/letsencrypt.tar.gz '"s3://$bucket\n" > /etc/letsencrypt/renewal-hooks/post/bucket-upd
        chmod 744 /etc/letsencrypt/renewal-hooks/post/srv-start /etc/letsencrypt/renewal-hooks/pre/srv-stop /etc/letsencrypt/renewal-hooks/post/bucket-upd
        curl https://ssl-config.mozilla.org/ffdhe2048.txt > /etc/letsencrypt/dhparam
        cd /etc
        tar -zcvf /root/letsencrypt.tar.gz letsencrypt/
        aws s3 cp /root/letsencrypt.tar.gz s3://$bucket
      fi
